p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}
nav a:hover {
  color: red;
}
nav {
  padding: 1px;
  text-align: center;
  background: mediumspringgreen;
}